.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.title h3 {
  font-size: var(--font-regular);
  font-weight: 700;
  color: var(--color-contents-title);
}
.title p {
  font-size: var(--font-small);
  font-weight: 400;
  text-align: center;
  margin-top: 16px;
  line-height: 30px;
  color: var(--color-contents-subtext);
}
