.keyvisual {
  width: 100%;
  height: 100vh;
  padding-top: 0;
  overflow: hidden;
  position: relative;
}
.keyvisual_slide {
  overflow: hidden;
  position: relative;
}
.keyvisual_wrap {
  background: url("../../public/home/main.jpg") no-repeat center/cover;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
}
.keyvisualPrev,
.keyvisualNext {
  width: 100px;
  height: 100px;

  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}
.keyvisualPrev {
  left: -25px;
  transform: rotate(180deg);
}
.keyvisualPrev .na,
.keyvisualNext .na {
  font-size: 100px;
  color: #fff;
}
.keyvisualNext {
  right: -25px;
}
.title {
  height: auto;
}
.title h1 {
  color: #ffffff;
  font-size: var(--font-x-large);
  font-weight: 700;
  margin-bottom: 15px;
}
.title p {
  font-size: var(--font-small);
  font-weight: 400;
  color: #fff;
}
.btns {
  display: flex;
  align-items: center;

  width: 184px;
  height: 66px;
  margin-top: 15px;
}
.btns button {
  flex: 1;

  height: 100%;
  border-radius: 100px;
}
.btns button a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.btns button span {
  font-size: var(--font-small);
  color: var(--color-contents-title);
  font-weight: 400;
}
.btn_more {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_sales {
  background-color: transparent;
  border: 1px solid #fff;
}
.btn_sales span {
  color: #fff;
}
.arrow {
  font-size: 20px;
}
.result {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid var(--color-border);
  padding: 34px 32px;
}
.result h4 {
  font-size: var(--font-large);
  font-weight: 700;
  color: var(--color-contents-title);
  margin-bottom: 16px;
}
.result h4 span {
  color: var(--color-result-subText);
}
.result p {
  color: var(--color-contents-subtext);
  font-size: var(--font-small);
  font-weight: 400;
}
.card2_img {
  flex: 1;
}
.card2_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card2_sub {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}
.card2_title h4 {
  font-size: var(--font-middle);
  color: var(--color-contents-title);
  font-weight: 700;
  margin-bottom: 11px;
}
.card2_title p,
.card2_inner p {
  font-size: var(--font-small);
  color: var(--color-contents-subtext);
  font-weight: 400;
  line-height: 30px;
}
.card2_inner h5 {
  margin-bottom: 10px;
  font-size: var(--font-regular);
  color: var(--color-contents-title);
  font-weight: 700;
}

/* ask */
.ask {
  display: flex;
  padding: 24px 36px;
  border-radius: 50px;
  justify-content: space-between;
  gap: 90px;
  cursor: pointer;
  align-items: center;
  transition: all 0.3s;
}
.question h5 {
  font-size: var(--font-middle2);
  color: var(--color-contents-title);
  font-weight: 700;
}
.answer {
  height: 0;
  overflow: hidden;
  margin-top: 16px;
  display: flex;
  transition: all 0.3s;
}
.answer p {
  font-size: var(--small);
  font-weight: 400;
  color: var(--color-contents-subtext);
}
.ask.active .answer {
  height: 48px;
}
.ask.active {
  background-color: #f2f1fa;
}
.askBtn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.askBtn button {
  border-radius: 50%;
  background-color: #f2f1fa;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  transform: rotate(45deg);
  transition: all 0.3s;
}
.askBtns_icon {
  font-size: 20px;
  transition: all 0.3s;
}
.askBtns_icon path {
  stroke: var(--color-card-subText);
}
.ask.active .askBtn button {
  background-color: var(--color-contents-title);
  transform: rotate(180deg);
}
.ask.active .askBtns_icon path {
  stroke: #ffff;
}
/* custom */
.custom_slide {
  overflow: hidden;
  position: relative;
  padding: 0 197px;
  margin: 0 auto;
}
.custom_slide .swiper-slide-active .customSlide img {
  transform: scale(2);
}
.customSlide img {
  height: 100%;
  object-fit: cover;
}
.prev,
.next {
  width: 50px;
  height: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;

  top: 50%;
  transform: translate(0, -50%);
}
.prev {
  left: 120px;
}
.next {
  right: 120px;
}
.na {
  font-size: 50px;
  color: #5d5a88;
}

.prev .na {
  transform: rotate(180deg);
}
